#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  text-decoration: underline;
}

h2 {
  margin-top: 80px;
}

.form-fields {
  color: black;
  display: flex;
  justify-content: space-between;
  width: 280px;
  margin: auto;
  padding: 20px;
  background-color: whitesmoke;
  text-decoration: underline;
}


.displayOne-page {
  padding: 35px;
  text-align: center;
  border-style: double;
  border-color: white;
}

.displayOne-header {
  margin: auto;
}

.submit-btn {
  background-color: green;
  padding: 15px;
  width: 120px;
}

.delete-btn {
  background-color: red;
  padding: 8px;
  margin: 10px;
}

.edit-btn {
  background-color: green;
  padding: 8px;
  margin: 10px;
}

.home-btn {
  background-color: blue;
  padding: 8px;
  margin: 10px;
}

.admit-btn {
  background-color: blue;
  padding: 8px;
  margin: 10px;
}

.errors {
  color: red;
}

